/* Error: Expected newline.
 *   ,
 * 3 | h1 {
 *   |    ^
 *   '
 *   stylesheets/sass/variable.sass 3:4  @use
 *   stylesheets/sass/index.sass 1:1     root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected newline.\a   \2577 \a 3 \2502  h1 {\a   \2502     ^\a   \2575 \a   stylesheets/sass/variable.sass 3:4  @use\a   stylesheets/sass/index.sass 1:1     root stylesheet";
}
